.buttons__menu {
  font-size: 16px;
  cursor: pointer;
  border: none;
  line-height: 1.26;
  font-weight: 500;
  background-color: #f5f4fa;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 34px;
}











