.footer {
  background-color: #2f303a;
}
.footer__container ul {
  padding: 0;
}
.footer__container {
  padding-top: 60px;
  display: flex;
}
.footer__layout {
  flex-direction: column;
}

.footer__navigation .link {
  color: #212121;
}
.link.footer__navigation:hover {
  color: var(--main-link-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.link.footer__navigation:focus {
  color: var(--main-link-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.link.footer__navigation {
  color: rgba(255, 255, 255, 0.6);
}
.footer__navigation {
  line-height: 1.71;
  color: var(--main-background-color);
}
