.buttons__menu:hover {
    background-color: var(--main-link-color);
  }
  .buttons__menu:hover {
    background-color: var(--main-link-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--main-background-color);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
  .buttons__menu:focus {
    background-color: var(--main-link-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
  
  .mainbutton {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--main-background-color);
    line-height: 1.875;
    font-weight: 700;
    background-color: var(--main-link-color);
    display: flex;
    justify-content: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    align-items: center;
    margin: inherit;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }
  